#exampleModalCenter2 Form{
    margin-top: -10px;
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.04em;
color: #011B53;
}
#exampleModalLongTitle {
    font-size: 16px;
}
#exampleModalCenter2 Form Label{
    color: rgba(1, 27, 83, 1);
    margin-bottom: -7px;
    font-size: 14px;
}
#exampleModalCenter2 form input{
    font-weight: normal;
    font-size: 14px;
}
 option {
    margin-top: -10px;
}
.multiselection .css-yk16xz-control {
    border-radius: 20px !important;
}
@media (min-width: 576px){
#exampleModalCenter2 .modal-dialog {
    max-width: 350px;
    margin: 1.75rem auto;
    }
}
/* .class-set{

    position:absolute;
    top: 14%;
    left: 18%;
    margin: auto;
    z-index: 1;
    margin-top: 3em;
    margin-left: 10em;
    background-color: #fff;

    display: inline;
    justify-content: center;
    align-items: center;


    

}

.hw{
    height: 19rem;
    width: 8rem;
}
.font-color{
    color: rgba(1, 27, 83, 1);
    

}
.form-container{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #fff;
}
@media screen (max-width:786px){
    .class-set{
    

    }
} */