.toggle-switch {
    position: relative;
    width: 90px;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
  }
  .toggle-switch-checkbox {
    display: none;
  }
  .toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #ccc;
    border-radius: 20px;
    margin: 0;
  }
  .toggle-switch-inner1 {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .toggle-switch-inner1::before, .toggle-switch-inner1::after {
    display: block;
    float: left;
    width: 50%;
    height: 34px;
    padding: 0;
    line-height: 34px;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
  }
  .toggle-switch-inner1::before {
    content: "";
    padding-left: 10px;
    background-color:#51CC25;
    color: #fff;
  }
  .toggle-switch-disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .toggle-switch-disabled::before {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .toggle-switch-inner1::after {
    content: "";
    padding-right: 10px;
    background-color: #011B53;
    color: #fff;
    text-align: right;
  }
  .toggle-switch-switch1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    margin: 2px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 4px;
    right: 57px;
    border: 0 solid #ccc;
    border-radius: 44px;
    margin-top: 6px;
    transition: all 0.3s ease-in 0s;
    height: 23px;
  }
  .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner1 {
    margin-left: 0;
  }
  .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch1 {
    right: 2px;
  }