#Chat-con {
  width: 300px;
  height: 450px;
  bottom: 14%;
  right: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.header {
  background: #0c5dff;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-header {
  /* width: 100px; */
  border: 0;
  border-bottom: 4px solid #ff6584 !important; 
  
}

.chat-box {
  height: 350px;
  overflow-y: scroll;
}

.chat-box::-webkit-scrollbar {
  width: 10px;
  /* height: 41px;  */
}
.chat-box::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 20px;
  margin-bottom: 200px;
}
.chat-box::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #011b53;
}

.pop {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background: #EA4444;
    color: #fff;
    box-shadow: 0 4px 8px 0 #EA4444;
}

.chatButton {
  right: 3%;
  bottom: 8%;
}
.Solvedmain {
  width: 100%;
  height: 80px;
  background: #c6dff8;
  border-radius: 10px;
}
.Chat-Doubts{
  right:5%;
}

.timing {
  font-size: 14px;
  color: #A6ABBD;
}

.chat-bubble {
    position: relative;
    background: linear-gradient(0deg, #93C3FF, #93C3FF);
    color: #000;
    font-size: 12px;
    line-height: 9px;
    text-align: center;
    width: fit-content;
    height: 32px;
    border-radius: 8px;
    padding: 11px;
  }

.sent {
  margin-right: 10px;
}
.received {
  margin-left: 10px !important;
}
.chat-bubble.left:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent #93C3FF;
  border-width: 7px 12px 7px 0;
  top: 50%;
  left: -12px;
  margin-top: -7px;
}

.chat-bubble.right:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #93C3FF;
    border-width: 7px 0 7px 12px;
    top: 50%;
    right: -12px;
    margin-top: -7px;
}

.chat-input {
    border-radius: 20px;
    border: 1px solid #BDC3C7;
    width: 90%;
    height: 40px;
}

.ChatIcon {
  border-radius: 100%;
  background: #0C5DFF;
  width: 35px;
  height: 35px;
}
.ChatIcon1 {
  border-radius: 100%;
  background: #0C5DFF;
  width: 30px;
  height: 30px;
}


@media (max-width: 1024px) {
  .pop{
    position: fixed;
    bottom: 50px;
    right: 20px;
  }
}
@media (max-width:320px) {
  #Chat-con {
    margin-left: -150px !important;
    width: 300px !important;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  #Chat-con {
    top: 60%;
    margin-top: -344px;
    left: 50%;
    margin-left: -162px;
    height: 537px;
    width: 325px;
}
  .chat-box {
    height: 415px;
  }
}
@media (min-width:400px) and (max-width:600px) {
  #Chat-con {
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -187px;
    height: 600px;
    width: 375px;
  }
  .chat-box {
    height: 500px;
  }
  /* .Chat-Doubts{
    margin-left: -192px;
  } */
}
  
