.addSection {
    border: 2px solid rgba(5, 6, 15, 0.95);
    border-radius: 100%;
    font-size: 18px;
}

.bubble {
    top: 42px;
    left: -15px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    color:#0C5DFF;
    font-size: 20px;
    text-align: center;
    width: 232px;
    height: 162px;
    padding: 20px;
    z-index: 9999 !important;
}
.editBubble {
    top: 60px;
    left: 10px;

}
/* .bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-color: #e33939 transparent;
    border-width: 0 11px 19px;
    top: -19px;
    left: 16%;
    margin-left: -11px;
} */

.bubble::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #ffffff transparent;
    border-width: 0 8px 17px;
    top: -17px;
    left: 10%;
    margin-left: -8px;
}
.bubble::before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: #c4c4c4 transparent;
    border-width: 0 9px 18px;
    top: -18.5px;
    left: 10%;
    margin-left: -9px;
    display: block;
}

.subject {
    font-size: 15px;
    width: fit-content;
    height: 35px;
    background: #0C5DFF;
    border-radius: 20px;
    padding: 10px 25px;
}

.examInput, .questionInput{
    border-bottom: 0.5px solid rgba(70, 67, 83, 0.8);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 30px;
    font-size: 12px;
}

.option-btn {
    height: 225px;
    border: 0.25px solid #1B263B;
    box-shadow: 0px 2px 15px rgba(131, 131, 131, 0.1);
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    z-index: 9999 !important;
}

.btn-cancel, .btn-add {
    height: 35px;
    width: 80px;
    border-radius: 20px;
    font-size: 16px;
}

.btn-cancel {
    color: #0C5DFF;
}

.btn-add {
    background: linear-gradient(180deg, #0D4FD3 0%, #0C5DFF 250%);
    box-shadow: 0px 15px 24px rgba(13, 79, 211, 0.15);
}

.para {
    font-weight: 600;
    font-size: 10px;
}

.question-box {
    border: 0.25px solid #1B263B;
    box-shadow: 0px 2px 20px rgba(54, 87, 151, 0.1);
    border-radius: 8px;
    width: 75%;
}
.question-dropdown{
    width: 185px;
    height: 40px;
    background: #EFEEF7;
    border-radius: 20px;
}

.btn-question {
    width: 80px;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #011B53;
  }


.QuestionTypeModal-btn {
    text-align: left;
    font-weight: 600;
    background: #fff;
    height: 25px;
}
.QuestionTypeModal-btn:hover {
    background: #011B53;
    color: #fff;
}
.QuestionTypeModal-content {
    box-shadow: 2px 4px 5px #d9d9d9, -2px -2px 5px #ffffff;
    padding: 20px 0px;
    border-radius: 10px;
}
.QuestionTypeModal {
    top: 2.5rem;
    z-index: 9999 !important;
}

.bundles {
    width: 75%;
    height: 110px;
    border: 0.25px solid #1B263B;
    box-shadow: 0px 2px 20px rgba(54, 87, 151, 0.1);
    border-radius: 8px;
}
.uploadImg {
    width: 160px;
    height: 40px;
    border: 0.5px solid #011B53;
    border-radius: 20px;
}
@media (max-width: 800px) {
    .option-btn {
        position: fixed;
        justify-content: space-around;
        flex-direction: row !important;
        right: 0;
        bottom: 38px;
        width: calc(100% - 241px);
        height: auto;
    }
    .question-box {
        width: 100% !important;
    }
    .bundles {
        width: 100%;
        height: 125px;
    }
}
@media (max-width: 600px) {
    .option-btn {
        width: 100% !important;
    }
    
}
 
