.Nav-Exam {
    height: 70px;
    width: calc(100% - 210px);
    background: #E8E8E8;
    margin-top: 57px;
   z-index: 9988 !important;
   padding: 0 16px;
   justify-content: flex-start;
}

.exam-btn {
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
}
@media (max-width: 500px) {
    .Nav-Exam {
    margin-top: 75px;
    /* padding: 0 !important; */
    width: 100%;
    }
    .exam-btn {
        font-size: 14px !important;
    }
}
@media (max-width: 768px) {
    .exam-btn-2 {
        /* padding: 10px; */
        width: 38px !important;
        height: 38px !important;
        border-radius: 100%;
    }
}
@media (max-width: 340px) {
    .Nav-Exam {
    padding: 0 5px;
    justify-content: center !important;
    }
    /* .exam-btn {
        width: 134px !important;
        height: 34px;
    } */
}

