
#exampleModalCenter form{
    margin-top: -10px;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

/* identical to box height */

letter-spacing: 0.04em;

}
.rmr{
    margin-left: 80px;
}
.modal-dialog{
    z-index: 1000;
}
form label{
    color: rgba(1, 27, 83, 1);
    margin-bottom: -7px;
    font-size: 14px;

}
form input{
    font-weight: normal;
    font-size: 14px;
}
 option {
    margin-top: -10px;
}

/* .form-switch .form-check-input:checked {
    background-position: right center;
    background-image: none;
}
.form-check-input:checked[type=checkbox] {
    background-image: none;
} */
.form-switch .form-check-input.modal-out {

    background: #011B53;
    box-shadow: 0px 2px 20px rgba(43, 61, 94, 0.1);
}
.form-switch .form-check-input:checked {

     background-color: rgba(81, 204, 37, 1);
     border-color: rgba(81, 204, 37, 1);
}

@media (min-width: 576px){
.teachermodal {
    max-width: 750px !important;
    }
}
@media (max-width: 500px){
.addteacher-btn {
    width: 35% !important;
    }
}

