.addModal { 
    width: 155px;
    height: 100px;
    
}     

.addModal-content, .PostModal-content, .threedotModal-content, .SharedModal-content {
    box-shadow: 2px 4px 5px #d9d9d9, -2px -2px 5px #ffffff;
    padding: 20px 0px;
    border-radius: 10px;
}

.modal-btn, .Postmodal-btn, .threedotModal-btn, .StudentModal-btn, .SharedModal-btn {
    text-align: left;
    font-weight: 600;
    background: #fff;
}


.threedotModal-btn:hover, .Postmodal-btn:hover, .SharedModal-btn:hover {
    background: #011B53;
    color: #fff;
}


/* Post */
.PostModal { 
    width: 135px;
    height: 100px; 
    right: 50px;
    z-index: 9999 !important;
}  


/* threedotModal */
.threedotModal {
    width: 120px;
    height: 100px;
    top: 0rem;
    right: 1.5rem;
    z-index: 9999 !important;
    /* right: 7rem; */
    /* margin-top: 7.5rem !important; */
}
.SharedModal {
    width: 140px;
    height: 115px;
    top: 0rem;
    right: 1.5rem;
}

/* Student List */

.StudentModal {
    width: 145px;
    height: 150px;
    box-shadow: 2px 4px 5px #d9d9d9, -2px -2px 5px #ffffff;
    padding: 20px 0px;
    margin-top: 215px !important;
    border-radius: 10px;
}
.StudentModal-content{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.exam-background {
    background: rgba(5, 6, 15, 0.2);
    z-index: 9996 !important;
    height: 100vh;
  }