.dropdown .dropdown-menu a:hover
{
    background-color: rgba(1, 27, 83, 1);
    color:rgba(255, 255, 255, 1);

}
.dropdown-menu{
    margin-right: 100px;
}
.btn:focus {

    outline: none;
    box-shadow: none;
    }