/* #page-content-wrapper {
  color: #011B53;
  z-index: 5;
  height: 100vh;
  overflow-x: hidden;
}

@media (min-width: 768px) {

  #page-content-wrapper {
    margin-left: 228px;
  }
} */
 
 .form {
   /* height: 70px; */
  border: 0.25px solid #011B53;
  box-shadow: 0px 2px 20px rgba(54, 87, 151, 0.1);
  border-radius: 8px;
 } 

 .text-area {
   outline: none;
   background: #F7F8F6;
   border-radius: 8px;
   border-bottom: 1px solid rgba(70, 67, 83, 0.6);
   font-size: 17px;
 }

   .text-area::placeholder {
   /* line-height: 3; */
   color: #A6ABBD;
   /* font-size: 18px; */
 }

  .dropdownbtn {
  background: rgba(247, 248, 246, 0.7);
  border: 0.5px solid rgba(70, 67, 83, 0.6);
  border-radius: 20px;
 }

 @media (min-width: 800px) {

  .btn-section {
    width: 100%;
  }
  .classes-btn-1 {
    width: 230px;
  }
  .classes-btn-2 {
    width: 200px;
  }
}

.post {
  border: 0.25px solid #1B263B;
  border-radius: 8px;
}

/* .upload {
  width: 400px;
} */

 .lining {
  border-bottom: 0.25px solid #011B53;
}

.file {
  /* border-radius: 8px; */
  border: 0.25px solid #464353;
  width: 140px;
  
}

.comment-section {
  border: 0.25px solid #011B53;
  border-radius: 20px;
}
 .notes {
  border: 0.25px solid #011B53;
  box-shadow: 0px 2px 20px rgba(54, 87, 151, 0.1);
  border-radius: 8px;
}

  .noteIcon {
  border-radius: 100%;
  background: linear-gradient(180deg, #011B53 0%, #05308F 158.33%);
  border: 1px solid rgba(54, 87, 151, 0.8);
  width: 30px;
  height: 30px;
}
