.resultInfo {
    max-width: 360px;
    width: 100%;
    top: 30px;
    box-shadow: 0px 2px 30px rgba(27, 38, 59, 0.2);
    border-radius: 8px;
    z-index: 9999 !important;
}


.chart1, .chart2 {
    width: 100px;
    height: 150px;
} 

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.details {
    width: -webkit-fill-available;
}
@media (max-width: 340px) {
    .resultInfo {
        width: 300px;
    }
    .chart2 {
        margin-right: 18px !important;
    }
}