.examModal{
    max-width: 325px;
    width: 100%;
    top: 30px;
    box-shadow: 0px 2px 30px rgb(27 38 59 / 20%);
    border-radius: 8px;
    z-index: 10000 !important;
}

/* #examModal hr {
    border: 0.5px solid #2B3D5E;
    height: 0.1px;
} */

#examModal form label, .marking {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 600;
}
#examModal form input,#examModal form textarea {
    margin-bottom: 10px;
    border-radius: 20px;
    border: 0.25px solid #838383;
    font-size: 12px;
}
#examModal .calender{ 
    right: 0;
    top: 8px;
}

.button-sec .button-div {
    width: 118px;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #011B53;
  }
  .examdetailstartcalender .react-datepicker__tab-loop .react-datepicker-popper, .examdetailendcalender .react-datepicker__tab-loop .react-datepicker-popper {
    transform: translate3d(18px, 34px, 0px) !important;
  }
  .examdetailstartcalender .react-datepicker-popper .react-datepicker__triangle, .examdetailendcalender .react-datepicker-popper .react-datepicker__triangle {
    left: 45px !important;
  }

/* #examModal .examdetailcalender .react-datepicker-wrapper {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 0.25px solid #838383;
    font-size: 12px;
}   */

/* .examdetailcalender input[type="datetime-local"]:not(.has-value):before{
    color: lightgray;
    content: attr(placeholder);
}
.examdetailcalender  input[type="datetime-local"]:focus:before {
    content: '' !important;
  } */


  
